
<div class="container p-3 my-3 border bg-dark text-white">
    <div class="row">
        <div class="col-sm-2"></div> 
        <div class="col-sm-6">
            <h2 class="text-center mb-4">Product Search</h2>
        </div>
    </div>
    <form>
        <!-- <div class="form-group row justify-content-center">
            
            <label for="keyword" class="col-sm-2 col-form-label text-right">Keyword<span class="req "></span></label>
      
            <div class="col-sm-4">
                <input type="text" class="form-control" id="keyword" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}" required>
                <span class="req">*</span> 
              <div *ngIf="!keyword" class="invalid-feedback"> Please enter a keyword.
                  <div *ngIf="!keyword" class="alert-message">Please enter a keyword.</div>

                </div> 
        </div> -->

        <div class="form-group row justify-content-center">
          <label for="keyword" class="col-sm-2 col-form-label text-right">Keyword<span class="req">*</span></label>
          <div class=
          "col-sm-4">
              <input type="text" class="form-control" id="keyword" [(ngModel)]="keyword" name="keyword" #keywordField="ngModel" required>
              <div *ngIf="keywordField.touched && keywordField.invalid" class="alert-message">
                  Please enter a keyword.
              </div>
          </div>
      </div>
        <div class="form-group row justify-content-center">
            <label for="category" class="col-sm-2 col-form-label text-right">Category</label>
            <div class="col-sm-4">
                <select class="form-control" name="category" [(ngModel)]="category" id="category" value="AllCategory" [ngModelOptions]="{standalone: true}">
                    <option value="AllCategory">All Category</option>
                    <option value="art">Art</option>
                    <option value="baby">Baby</option>
                    <option value="books">Books</option>
                    <option value="clothingShoesAccessories">Clothing, Shoes & Accessories</option>
                    <option value="computersTabletsNetworking">Computers/Tablets & Networking</option>
                    <option value="healthBeauty">Health & Beauty</option>
                    <option value="music">Music</option>
                    <option value="videoGamesConsoles">Video Games & Consoles</option>
                </select>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="condition" class="col-sm-2 col-form-label text-right">Condition:</label>
            <div class="col-sm-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="new" value="new" [(ngModel)]="new" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="new">New</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="used" value="used" [(ngModel)]="used" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="used">Used</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="unspecified" value="unspecified" [(ngModel)]="unspecified" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="unspecified">Unspecified</label>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="shippingOptions" class="col-sm-2 col-form-label text-right">Shipping Options:</label>
            <div class="col-sm-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="localPickup" [ngModelOptions]="{standalone: true}" id="localPickup" value="localPickup">
                    <label class="form-check-label" for="localPickup">Local Pickup</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="freeShipping" [ngModelOptions]="{standalone: true}" id="freeShipping" value="freeShipping">
                    <label class="form-check-label" for="freeShipping">Free Shipping</label>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="distance" class="col-sm-2 col-form-label text-right">Distance (Miles)</label>
            <div class="col-sm-4">
                <input type="number" id="distance" class="form-control bg-white" [(ngModel)]="distance" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="from" class="col-sm-2 col-form-label text-right">From<span class="req "></span></label>
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="locationOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentLocation" id="currentLocation" value="currentLocation" (change)="getCurLoc()" checked>
                    <label class="form-check-label" for="currentLocation">Current Location</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" [(ngModel)]="other" type="radio" name="locationOptions" id="other" value="other">
                    <label class="form-check-label" for="other">Other. Please specify zip code:</label>
                </div>
                <!-- <input type="text" [(ngModel)]="zipCode" [ngModelOptions]="{standalone: true}" class="form-control mt-2" id="zip" value="" (input)="onZipCodeChange()"> -->
                <input type="text" [(ngModel)]="zipCode" [ngModelOptions]="{standalone: true}" class="form-control mt-2" id="zip" value="" (input)="onZipCodeChange()">
                <div *ngIf="showZipAlert" class="alert-message">Please enter a zip code.</div>

                <div *ngIf="suggestions?.length" class="autocomplete-suggestions ">
                    <div *ngFor="let suggestion of suggestions" class="text-dark" (click)="selectSuggestion(suggestion)">
                        {{ suggestion }}
                    </div>
                </div>
                            </div>
        </div>


        <div class="form-group row ">
            <!-- Offset div to align with the form labels -->
            <div class="col-sm-4"></div> 
            <div class="col-sm-6 text-left">
                <button type="submit" class="btn btn-light btn-adjusted text-dark" style="margin-right: 5px;" (click)="onSearchForm()">
                    <i class="fa fa-search"></i> Search
                </button>
                <button type="button" class="btn btn-light text-dark" (click)="clearForm()">
                    <i class="fa fa-bars"></i> Clear
                </button>
            </div>
        </div>
    </form>
</div>
<div class=" p-3 my-3  text-center">
<button class="btn btn-light" (click)="buttonC='results'" [class.btn-dark]="buttonC === 'results'" 
[class.btn-white]="buttonC !== 'results'" ><a >Results</a></button>
        <button class="btn btn-light" (click)="buttonC='wish'" [class.btn-dark]="buttonC === 'wish'" 
        [class.btn-white]="buttonC !== 'wish'"><a >Wish List</a></button>
    </div>
<div *ngIf="!showProductDetails" class="container bg-white p-3 my-3 text-white">
    <table *ngIf="paginatedItems.length > 0 && !showProductDetails" class=" table table-dark table-striped text-white">
      <thead>
        <tr class="text-center"> 
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Shipping</th>
          <th scope="col">Zip</th>
          <th scope="col">Wish List</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedItems; let i = index">
          <td class="align-middle text-center">{{ i + 1 }}</td>
          <td class="align-middle text-center"><a href="{{ item.image }}" target="_blank">
            <img [src]="item.image" alt="N/A" style="width:50px; height:auto;">
          </a></td>
          <td class="align-middle" (click)="onProductClick(item.itemId)" >
            <!-- <a href="" class="text-decoration-none">{{ item.title }}</a> -->
            <a (click)="onProductClick(item.itemId)">{{ item.title }}</a>
          </td>
          <td class="align-middle text-center">{{ item.price || 'N/A' }}</td>
          <td class="align-middle text-center">
            {{ item.shipping || 'N/A' }}
          </td>
          <td class="align-middle text-center">{{ item.zip || 'N/A' }}</td>
          <td>
            <button class="btn btn-light" (click)="addToWishlist(item)">
              <span class="material-icons"  >
                add_shopping_cart
                </span>
                </button>
                
          </td>
         
        </tr>
      </tbody>
    </table>
    

    <div *ngIf="totalItems > itemsPerPage" class="d-flex justify-content-center my-3" >
      <nav aria-label="Page navigation" style="border: none;" *ngIf="totalItems > itemsPerPage" class="d-flex justify-content-center my-3">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="selectPage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
      
          <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
            <a class="page-link"  (click)="selectPage(page)" >{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="selectPage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  
  

  
<div class="p-3 my-3  text-center">
  <div class="facebookIcon">
    <a [href] ="shareURL" target = "_blank">
        <img src = "./assets/facebook.png" >
    </a>
  </div>
    <!-- Tab links -->
    <ul class="nav nav-tabs">
      <li class="nav-item nav-pills" (click)="selectTab('product')">
        <a class="nav-link" [class.active]="activeTab === 'product'">Product</a>
      </li>
      <li class="nav-item nav-pills" (click)="selectTab('photos')">
        <a class="nav-link" [class.active]="activeTab === 'photos'">Photos</a>
      </li>
      <li class="nav-item nav-pills" (click)="selectTab('shipping')">
        <a class="nav-link" [class.active]="activeTab === 'shipping'">Shipping</a>
      </li>
      <li class="nav-item nav-pills" (click)="selectTab('seller')">
        <a class="nav-link" [class.active]="activeTab === 'seller'">Seller</a>
      </li>
      <li class="nav-item nav-pills" (click)="selectTab('similar')">
        <a class="nav-link" [class.active]="activeTab === 'similar'">Similar Products</a>
      </li>
    </ul>
  
    <!-- Tab content -->
    <div class="tab-content">
      <!-- Product Details -->
      <div *ngIf="activeTab === 'product'">
        <table class="table table-striped table-dark">
            <tbody *ngIf="prodInfo.length > 0">
                <!-- <div *ngIf="prodInfo.length > 0" class="table-striped table-dark"> -->
                <tr id="productImagesRow">
                    <td>Product Images</td>
                </tr>
                <tr id="priceRow">
                    <td>Price</td>
                    <td id="priceValue">{{ prodInfo[0].price}}</td>
                </tr>                       
                <tr id="locationRow">
                    <td>Location</td>
                    <td id="locationValue">{{prodInfo[0].location}}</td>
                </tr>
                <tr id="returnPolicyRow">
                    <td>Return Policy (US)</td>
                    <td id="returnPolicyValue">{{prodInfo[0].returnPolicy}}</td>
                </tr>               
                <ng-container *ngFor="let items of prodInfo[0].itemSpecifics">
                    <tr *ngIf="items">
                    <td>{{ items.Name }}</td>
                    <td>{{ items.Value }}</td>
                    </tr>
                </ng-container>
                <tr id="itemSpecificsRow">
                    <td></td>
                    <td id="itemSpecificsValue"></td>
                </tr>
            <!-- </div> -->
            </tbody>
          </table>
      </div>
  
      <!-- Photos -->
      <div *ngIf="activeTab === 'photos'">
       <!-- <DISPLAY HERE> -->
        <div *ngIf="showImageModal" class="carousel-container">
            <!-- Carousel Wrapper -->
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <!-- Carousel Inner -->
              <div class="carousel-inner">
                <!-- Use *ngFor to iterate over the images and display them -->
                <div *ngFor="let img of prodImages; let i = index" [class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
                  <img [src]="img.link" class="d-block w-100" alt="...">
                </div>
              </div>
              <!-- Carousel Controls -->
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>

  
      <!-- Shipping Information -->
      <div *ngIf="activeTab === 'shipping'">
        <table class="table table-striped table-dark">
            <tbody *ngIf="shippingInfo1.length > 0">
                <tr id="CostRow">
                    <td>Cost</td>
                    <td id="CostVal">{{ shippingInfo1[0].cost }}</td>
                </tr>
                <tr id="LocationseRow">
                    <td>Locations</td>
                    <td id="LocationsVal">{{ shippingInfo1[0].locations }}</td>
                </tr>                       
                <tr id="HandlingTimeRow">
                    <td>Handling Time</td>
                    <td id="HandlingTimeVal">{{ shippingInfo1[0].handlingTime }}</td>
                </tr>
                <tr id="ExpeditedRow">
                    <td>Expedited Shipping</td>
                    <td id="ExpeditedRowVal">{{shippingInfo1[0].returnPolicy}}</td>
                </tr>   
                <tr id="OneDayShippingRow">
                    <td>One Day Shipping</td>
                    <td id="OneDayShippingVal">{{ shippingInfo1[0].oneDay}}</td>
                </tr>                       
                <tr id="ReturnsAcceptedRow">
                    <td>Returns Accepted</td>
                    <td id="ReturnsAcceptedVal">{{ shippingInfo1[0].returns }}</td>
                </tr>
            </tbody>
        </table>
      </div>
  
      <!-- Seller Information -->
      <div *ngIf="activeTab === 'seller'">
        <table class="table table-striped table-dark">
            <tbody *ngIf="shippingInfo1.length > 0">
                <tr id="FeedbackScoreRow">
                    <td>Feedback Score</td>
                    <td id="FeedbackScoreVal">{{ sellerInfo[0].feedbackScore }}</td>
                </tr>
                <tr id="PopularityRow">
                    <td>Popularity</td>
                    <td id="PopularityVal">{{ sellerInfo[0].popularity}}</td>
                </tr>                       
                <tr id="FeedbackRatingStarRow">
                    <td>Feedback Rating Star</td>
                    <td id="FeedbackRatingStarVal">{{ sellerInfo[0].feedbackRatingStar }}</td>
                </tr>
                <tr id="TopRatedRow">
                    <td>Top Rated</td>
                    <td id="TopRatedVal">{{sellerInfo[0].topRated}}</td>
                </tr>   
                <tr id="StoreNameRow">
                    <td>Store Name</td>
                    <td id="StoreNameVal">{{ sellerInfo[0].storeName}}</td>
                </tr>                       
                <tr id="StoreURLRow">
                    <td>Store URL</td>
                    <a [href]="sellerInfo[0].storeURL" target="_blank">{{ sellerInfo[0].storeName }}</a>
                </tr>
            </tbody>
            <!-- product.timeLeft.split('P')[1].split('D')[0] -->
        </table>
      </div>

      <!-- <div *ngFor="let product of similarProducts?.slice(0, initialItemsToShow); let i = index" class="p-3 mb-3 rounded product-card bg-dark text-white">
        <div class="d-flex justify-content-start align-items-center">
            <div class="flex-shrink-0">
                <img [src]="product?.imageURL" alt="Product Image" class="product-image img-fluid mr-3" style="max-width: 100px;">
            </div>
        <div class="flex-grow-1" style="text-align: left">
            <p><a href="{{ product?.viewItemURL }}" class="mb-1 d-block font-weight-bold" style="color: #5ea4bf;">{{ product?.title }}</a></p>
            <p class="mb-1" style="color: green;">Price: ${{ product?.buyItNowPrice._value_ }}</p>
            <p class="mb-1" style="color: #DAA520;">Shipping Cost: ${{ product?.shippingCost._value_ }}</p>
            <p class="mb-0">Days Left: {{ product?.timeLeft.split('P')[1].split('D')[0] }}</p>
        </div>
    </div>
</div> -->
      <!-- Similar Products -->
      <div *ngIf="activeTab === 'similar'">
        <!-- Container for the product cards -->
        <!-- <div class="product-container"> -->
          <!-- <div class="product-container"> -->
            <div *ngFor="let product of similarProds.slice(0, displayCount); let i = index" class="product-card p-3 mb-3 rounded product-card bg-dark text-white">
              <div class="d-flex justify-content-start align-items-center">  
                <div class="flex-shrink-0">
                <img [src]="product.imageURL" alt="{{product.prodName}}" class="product-image img-fluid mr-3" style="max-width: 100px;">
                <div class="product-details mb-1 d-block font-weight-bold" style="color: #5ea4bf">
                  <p><a href="{{ product?.viewItemURL }}" class="mb-1 d-block font-weight-bold" style="color: #5ea4bf;">{{product?.prodName}}</a></p> 
                    <p class="mb-1" style="color: green;">Shipping Cost: {{product.shippingCost}}</p>
                    <p class="mb-0">Days Left: {{product.daysLeft}}</p>
                </div>
                <br>
                </div>
                </div>
            </div>
        <!-- </div> -->

        <!-- Show more button -->
        <button *ngIf="displayCount < similarProds.length && !showAll" (click)="showMore()">Show More</button>
        <button *ngIf="showAll" (click)="showLess()">Show Less</button>

      </div>
     
    </div>
    

  </div>

  