<div class="container p-3 my-3 border bg-dark text-white">
    <div class="row">
        <div class="col-sm-2"></div> 
        <div class="col-sm-6">
            <h2 class="text-center mb-4">Product Search</h2>
        </div>
    </div>
    <form>

        <!-- <div class="form-group row justify-content-center">
          <label for="keyword" class="col-sm-2 col-form-label text-right">Keyword<span class="req"></span></label>
          <div class=
          "col-sm-4">
              <input type="text" class="form-control" id="keyword" [(ngModel)]="keyword" name="keyword" #keywordField="ngModel" required>
              <div *ngIf="keywordField.touched && keywordField.invalid" class="alert-message">
                  Please enter a keyword.
              </div>
          </div>
      </div> -->

      <div class="form-group row justify-content-center">
        <label for="keyword" class="col-sm-2 col-form-label text-white text-right">Keyword<span id="req" style = "color:red;">*</span></label>
        <div class="col-sm-4">
            <input type="text" [(ngModel)]="keyword" name='keyword' class="form-control bg-white" required placeholder="Enter Product Name (e.g. iPhone 8)" #key='ngModel' [ngClass]="{'is-invalid':isKeyValid}" (blur)="find(key)">
            <div *ngIf='isKeyValid && keyword.trim().length==0'>
            <small class="text-danger" >Please enter a keyword</small>
            </div>
            
            
        </div>
    </div>

    <!-- <div class="form-group row justify-content-center">
      <label for="keyword" class="col-sm-2 col-form-label text-white">Keyword<span id="req">*</span></label>
      <div class="col-sm-4">
          <input type="text" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}" id="keyword" class="form-control bg-white" required placeholder="Enter Product Name (e.g. iPhone 8)" [ngClass]="{'is-invalid': isKeyValue}"
          (blur)="check(isKeyValue)" >
          <div *ngIf="keyword.length==0">
            <small class="text-danger">{{ errorMessage }}</small>
          </div>
          
      </div>
  </div> -->

    <!-- <div class="row mb-3 small">
      <div class="col-sm-3"><label for="keyword">Keyword<span style="color: #ff0000">*</span>:</label></div>
      <div class='col-sm-9 '>
        <input type="text" [(ngModel)]="keyword" 
        name="keyword"  class="form-control-sm"  
        placeholder="Enter Product Name (eg. iPhone 8)" 
        required autocomplete="on"
        #keywordInput="ngModel"
        [ngClass]="{'is-invalid': isKeywordInvalid}"
        (blur)="check(keywordInput)" style="min-width: 100%;">
        <div *ngIf="keyword.length==0">
          <small class="text-danger">{{ errorMessage }}</small>
        </div>
        
      </div>          
  </div>

 -->


        <div class="form-group row justify-content-center">
            <label for="category" class="col-sm-2 col-form-label text-right">Category</label>
            <div class="col-sm-4">
                <select class="form-control" name="category" [(ngModel)]="category" id="category" value="AllCategory" [ngModelOptions]="{standalone: true}">
                    <option value="AllCategory">All Category</option>
                    <option value="Art">Art</option>
                    <option value="Baby">Baby</option>
                    <option value="Books">Books</option>
                    <option value="Clothing, Shoes & Accessories">Clothing, Shoes & Accessories</option>
                    <option value="Computers/Tablets & Networking">Computers/Tablets & Networking</option>
                    <option value="Health & Beauty">Health & Beauty</option>
                    <option value="Music">Music</option>
                    <option value="Video Games & Consoles">Video Games & Consoles</option>
                </select>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="condition" class="col-sm-2 col-form-label text-right">Condition:</label>
            <div class="col-sm-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="new" value="new" [(ngModel)]="new" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="new">New</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="used" value="used" [(ngModel)]="used" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="used">Used</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="unspecified" value="unspecified" [(ngModel)]="unspecified" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="unspecified">Unspecified</label>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="shippingOptions" class="col-sm-2 col-form-label text-right">Shipping Options:</label>
            <div class="col-sm-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="localPickup" [ngModelOptions]="{standalone: true}" id="localPickup" value="localPickup">
                    <label class="form-check-label" for="localPickup">Local Pickup</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="freeShipping" [ngModelOptions]="{standalone: true}" id="freeShipping" value="freeShipping">
                    <label class="form-check-label" for="freeShipping">Free Shipping</label>
                </div>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="distance" class="col-sm-2 col-form-label text-right">Distance (Miles)</label>
            <div class="col-sm-4">
                <input type="number" id="distance" class="form-control bg-white" [(ngModel)]="distance" [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <label for="from" class="col-sm-2 col-form-label text-right">From<span class="req "></span></label>
            <div class="col-sm-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="locationOptions" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentLocation" id="currentLocation" value="currentLocation" (change)="getCurLoc()" checked>
                    <label class="form-check-label" for="currentLocation">Current Location</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" [(ngModel)]="other" type="radio" name="locationOptions" id="other" (ngModelChange)="check_zipcode()" value="true" #otherLocation='ngModel'>
                    <label class="form-check-label" for="other">Other. Please specify zip code:</label>
                </div>
                <!-- <input type="text" [(ngModel)]="zipCode" [ngModelOptions]="{standalone: true}" class="form-control mt-2" id="zip" value="" (input)="onZipCodeChange()"> -->

                <input type="text" 
                class="form-control form-control-sm" 
                [(ngModel)]="zipCode" 
                name="zipCode"
                #zipCodeInput="ngModel"
                
                required pattern="^\d{5}$"
                
               
                [style.border]="zipCodeInput.invalid && other === true ? '1px solid red' : '1px solid #ced4da'"
                (ngModelChange)="handleZipCodeChange($event)"
                [ngClass]="{'is-invalid': isZipCodeInvalid && zipCodeInput.touched && other === true}"
                (input)="onZipCodeChange()" required>
<!-- 
                <input type="text" [(ngModel)]="zipCode" class="form-control mt-2"   >
                <div *ngIf="showZipAlert" class="alert-message">Please enter a zip code.</div> -->

                <div *ngIf="suggestions?.length" class="autocomplete-suggestions ">
                    <div *ngFor="let suggestion of suggestions" class="text-dark" (click)="selectSuggestion(suggestion)">
                        {{ suggestion }}
                    </div>
                </div>
                <small class='text-danger' *ngIf="errorMessage1.length>0">{{errorMessage1}}</small>
              </div>
        </div>



        <div class="form-group row ">
            <!-- Offset div to align with the form labels -->
            <div class="col-sm-4"></div> 
            <div class="col-sm-6 text-left">
                <button type="submit" class="btn btn-light btn-adjusted text-dark" style="margin-right: 5px;"
                [disabled]= "(other==true && isZipCodeInvalid ) || keyword.trim().length==0"
                (click)="onSearchForm()" >
                    <i class="fa fa-search"></i> Search
                </button>
                <button type="button" class="btn btn-light text-dark" (click)="clearForm()">
                    <i class="fa fa-bars"></i> Clear
                </button>
            </div>
        </div>
    </form>
</div>
<div class=" p-3 my-3  text-center">
<button class="btn btn-light" (click)="buttonC='results';onSearchForm()" [class.btn-dark]="buttonC === 'results'" 
[class.btn-white]="buttonC !== 'results'" ><a >Results</a></button>
        <button class="btn btn-light" (click)="onWishListClick()" [class.btn-dark]="buttonC === 'wish'" 
        [class.btn-white]="buttonC !== 'wish'"><a>Wish List</a></button>
    </div>

    
   
<!--      
    <div *ngIf="!showProductDetails && paginatedItems.length > 0">
      <button class="btn btn-light btn-adjusted text-dark" (click)="onProductClick(selectedProd)" [disabled]= "selectedProd?.itemId">Details<span class="material-icons">navigate_next</span>
      </button>
      </div> -->
   

<div class="container bg-white p-3 my-3 text-white">
    <div class="progress" id="loadingBar" *ngIf="isloading">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0"style="width: 90%"></div>
    </div>
  </div>

  <div class="container" >
    <!-- Bootstrap alert for No Records message -->
    <div class="alert alert-warning" role="alert" *ngIf="(search && items.length == 0 && !isloading) || (buttonC=='wish' && wishlistItems.length==0)">
      No Records.
    </div>
  </div>

  <!-- Search Results -->
<div *ngIf="!showProductDetails && buttonC=='results'" class="container bg-white p-3 my-3 text-white">
  <div style="display: flex; justify-content: end;"> 
    <!-- List Button on the left -->
    <div *ngIf="!showProductDetails && paginatedItems.length > 0" style="display:flex; justify-content: flex-end;">
    
    <button class="btn btn-light btn-adjusted text-dark" (click)="onProductClick(selectedProd)" [disabled]= "!selectedProd?.itemId">
      <span class="material-icons">arrow_back_ios_new</span>
      Details
    </button>
  
    </div>
  </div>
    <table *ngIf="paginatedItems.length > 0 && !showProductDetails" class=" table table-dark table-striped text-white">
      
      <thead>
        <tr class="text-center"> 
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Shipping</th>
          <th scope="col">Zip</th>
          <th scope="col">Wish List</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedItems; let i = index">
          <!-- <td class="align-middle text-center">{{ i + 1 }}</td> -->
          <td class="align-middle text-center">{{ (i + 1) + (currentPage - 1) * itemsPerPage }}</td>
          <td class="align-middle text-center"><a href="{{ item.image }}" target="_blank" >
            <img [src]="item.image" alt="N/A" style="width:50px; height:auto;">
          </a></td>
          <!-- <td class="align-middle" (click)="onProductClick(item.itemId)" > -->
            <td class="align-middle" (click)="onProductClick(item)" >
            <!-- <a href="" class="text-decoration-none">{{ item.title }}</a> -->
            <a (click)="onProductClick(item)" matTooltip="{{item.title}}" class="styleTitle">{{ processTitle(item.title) }}</a>
          </td>
          <td class="align-middle text-center">{{ item.price || 'N/A' }}</td>
          <td class="align-middle text-center">
            {{ item.shipping || 'N/A' }}
          </td>
          <td class="align-middle text-center">{{ item.zip || 'N/A' }}</td>

            <td>
              <button *ngIf="!item.addedToWishlist" class="btn btn-light" (click)="addToWishlist(item)">
                  <span class="material-icons">
                      add_shopping_cart
                  </span>
              </button>
              <button *ngIf="item.addedToWishlist" class="btn btn-light" (click)="removeFromWishlist(item)">
                  <span class="material-icons" style="color:#d39e00">
                      remove_shopping_cart
                  </span>
              </button>
          </td>

         
        </tr>
      </tbody>
    </table>

    <div *ngIf="totalItems > itemsPerPage && buttonC!=='wish'" class="d-flex justify-content-center my-3" >
      <nav aria-label="Page navigation" style="border: none;" *ngIf="totalItems > itemsPerPage" class="d-flex justify-content-center my-3">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="selectPage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
      
          <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
            <a class="page-link"  (click)="selectPage(page)" >{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="selectPage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  

</div>
    


 <!-- WishList Items    --> 
    <div class="container bg-dark p-3 my-3" *ngIf="!showProductDetails && buttonC=='wish' && wishlistItems.length>0">
      <table class=" table table-dark table-striped text-white">
        <thead>
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Shipping Option</th>
            <th>Favorite</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of wishlistItems; let i = index">
            <td>{{ i + 1 }}</td>
            <td><img [src]="product.image" alt="product" class="product-image"></td>
            <!-- <td>{{ product.title }}</td> -->
            <td class="align-middle" (click)="onProductClick(product)" >
              <!-- <a href="" class="text-decoration-none">{{ item.title }}</a> -->
              <a (click)="onProductClick(product)" matTooltip="{{product.title}}" class="styleTitle">{{ processTitle(product.title )}}</a>
            </td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.shipping }}</td>
            <td>
            
            <button  class="btn btn-light" (click)="removeFromWishlist(product)">
                <span class="material-icons" style="color:#d39e00">
                    remove_shopping_cart
                </span>
            </button>
            </td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td>Total Price:</td>
            <td>{{ getTotal() | currency }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
  
  </div>


  <div *ngIf="showProductDetails">
    <div class="text-center">
      <p>{{ selectedProd?.title}}</p>
  </div>
     <div>
      <div class="container mt-5">
        <div style="display: flex; justify-content: space-between; align-items: center;"> 
          <!-- List Button on the left -->
          <button (click)="onListClick()" class="text-left btn btn-transparent text-dark">
            <span class="material-icons">arrow_back_ios_new</span>
            List
          </button>
        
          <!-- Other Buttons on the right -->
          <div style="display: flex; align-items: center;">
            <button class="btn facebook_button h-25">
              <a [href]="shareURL" target="_blank">
                <img src="./assets/facebook.png" class="facebookIcon">
              </a>
            </button>
            <button class="btn btn-light shopping_cart_icon" style="padding: 0;" (click)="addToWishlist(selectedProd)" *ngIf="!selectedProd?.addedToWishlist">
              <span class="material-icons facebookIcon" style="color:black;">
                add_shopping_cart
              </span>
            </button>
            <button class="btn btn-light shopping_cart_icon" style="padding: 0;" (click)="removeFromWishlist(selectedProd)" *ngIf="selectedProd?.addedToWishlist">
              <span class="material-icons" style="color:#ffcd44;">
                remove_shopping_cart
              </span>
            </button>
          </div>
        </div>
        
    
  
    <!-- Tab links -->
    <div *ngIf="showProductDetails" class="d-flex justify-content-end">
      
    <ul class="nav nav-tabs">
      <li class="nav-item " (click)="selectTab('product')">
        <a class="nav-link" [class.active]="activeTab == 'product'" [class.bg-dark]="activeTab == 'product'" [class.text-white]="activeTab == 'product'">Product</a>
      </li>
      <li class="nav-item nav-pills" (click)="selectTab('photos')">
        <a class="nav-link" [class.active]="activeTab === 'photos'" [class.bg-dark]="activeTab == 'photos'" [class.text-white]="activeTab == 'photos'">Photos</a>
      </li>
      <li class="nav-item nav-pills" (click)="selectTab('shipping')">
        <a class="nav-link" [class.active]="activeTab === 'shipping'" [class.bg-dark]="activeTab == 'shipping'" [class.text-white]="activeTab == 'shipping'">Shipping</a>
      </li>
      <li class="nav-item nav-pills" (click)="selectTab('seller')">
        <a class="nav-link" [class.active]="activeTab === 'seller'" [class.bg-dark]="activeTab == 'seller'" [class.text-white]="activeTab == 'seller'">Seller</a>
      </li>
      <li class="nav-item nav-pills" (click)="selectTab('similar')">
        <a class="nav-link" [class.active]="activeTab === 'similar'" [class.bg-dark]="activeTab == 'similar'" [class.text-white]="activeTab == 'similar'">Similar Products</a>
      </li>
    </ul>
  </div>
    <!-- Tab content -->
    <div class="tab-content">
      <!-- Product Details -->
      <div *ngIf="activeTab === 'product'">
        <table class="table table-striped table-dark">
            <tbody *ngIf="prodInfo.length > 0">
                <!-- <div *ngIf="prodInfo.length > 0" class="table-striped table-dark"> -->
                <tr id="productImagesRow">
                    <td>Product Images</td>
                    <td><a href="#" class="link-primary" (click)="openModal()">View Product Images here</a></td>
                </tr>
                <tr id="priceRow">
                    <td>Price</td>
                    <td id="priceValue">{{ prodInfo[0].price}}</td>
                </tr>                       
                <tr id="locationRow">
                    <td>Location</td>
                    <td id="locationValue">{{prodInfo[0].location}}</td>
                </tr>
                <tr id="returnPolicyRow">
                    <td>Return Policy (US)</td>
                    <td id="returnPolicyValue">{{prodInfo[0].returnPolicy}}</td>
                </tr>               
                <ng-container *ngFor="let items of prodInfo[0].itemSpecifics">
                    <tr *ngIf="items">
                    <td>{{ items.Name }}</td>
                    <td>{{ items.Value }}</td>
                    </tr>
                </ng-container>
                <tr id="itemSpecificsRow">
                    <td></td>
                    <td id="itemSpecificsValue"></td>
                </tr>
            <!-- </div> -->
            </tbody>
          </table>
      </div>
          
    
<!-- Carousel -->
<div  #myModal class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product Images</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
      </div>
      <div class="modal-body">
       
        <div id="carouselProductImages" class="carousel slide" [attr.data-interval]="false">
          <div class="carousel-inner">
            <div *ngFor="let img of prodInfo[0]?.productImages; let i = index" class="carousel-item" [class.active]="i === 0">
            <a href="{{img}}" target="_blank">
         <img [src]="img" class="d-block w-90 card-img-top" [alt]="'Product Image ' + (i + 1)">
            </a>
       </div>
       
          </div>
         
          <a class="carousel-control-prev" href="#carouselProductImages" role="button" data-bs-slide="prev">
            <i class="carousel-control-prev-icon"></i>
            <span class="sr-only">Previous</span>
          </a>
          
         
          <a class="carousel-control-next" href="#carouselProductImages" role="button" data-bs-slide="next">
            <i class=" carousel-control-next-icon"></i>
            <span class="sr-only">Next</span>
          </a>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



      <!-- Photos -->
      <!-- <div *ngIf="activeTab === 'photos'" class="tab-content">  -->
       <!-- <DISPLAY HERE> -->
       <!-- <div *ngIf="showImageModal" class="carousel-container"> -->
        <!-- <div class="tab-pane fade show active" id="photos" role="tabpanel" *ngIf="showImageModal && activeTab=='photos'">
          <div class="image-grid">
              <div *ngFor="let imageUrl of prodImages" class="image-cell">
                  <img [src]="imageUrl.link" alt="Product Image">
              </div>
          </div>
      </div> -->

      <div  *ngIf="activeTab === 'photos'" class="tab-content">  
        <div class="row row-cols-1 row-cols-md-3 g-4">
          
          <div *ngFor="let imageUrl of prodImages" class="col">
            <div class="card">
              <a href="{{ imageUrl.link }}" target="_blank">
              <img [src]="imageUrl.link" class="card-img-top img-fluid" alt="photo" _Target="blank"> 
            </a>
            </div>
          </div>
        </div>
        </div>


      <!-- <div *ngFor="let photo of photos?.items" class="col">
        <div class="card">

      <div *ngIf="activeTab === 'photos'" class="tab-content" >  
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div *ngIf="showImageModal" class="carousel-container">
            <div class="image-grid">
              <a href="{{ photo.link }}" target="_blank">
              <img [src]="photo.link" class="card-img-top" alt="photo" _Target="blank">
            </a>
            </div>
          </div>
        </div>
        </div> -->
        
    

<!-- Carousel -->
    <div id="carouselModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product Images</h5>
                    <button type="button" class="btn close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="carousel-container" style="position: relative; padding: 15px; border: 10px solid black;">
                        <div id="carouselImages" class="carousel slide" [attr.data-interval]="false">
                            <div class="carousel-inner">
                                <div *ngFor="let image of selectedProd[0]?.productImages; let i = index" class="carousel-item" [class.active]="i == 0">
                                    <img [src]="image" class="d-block w-100 product-image" [alt]="'Product Image ' + (i + 1)">
                                </div>
                            </div>                         
                            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                                <i class="fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>                  
                            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                                <i class="fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
                
    
    

  
      <!-- Shipping Information -->
      <div *ngIf="activeTab === 'shipping'">
        <table class="table table-striped table-dark">
            <tbody *ngIf="shippingInfo1.length > 0">
                <tr id="CostRow">
                    <td>Cost</td>
                    <td id="CostVal">{{ shippingInfo1[0].cost }}</td>
                </tr>
                <tr id="LocationseRow">
                    <td>Locations</td>
                    <td id="LocationsVal">{{ shippingInfo1[0].locations }}</td>
                </tr>                       
                <tr id="HandlingTimeRow">
                    <td>Handling Time</td>
                    <td id="HandlingTimeVal">{{ shippingInfo1[0].handlingTime }}</td>
                </tr>
                <tr id="ExpeditedRow">
                  <td>Expedited Shipping</td>
                  <td id="ExpeditedRowVal">
                      <span class="material-symbols-outlined" [class.shipdone]="shippingInfo1[0].returnPolicy" [class.shipclose]="!shippingInfo1[0].returnPolicy" >
                          {{shippingInfo1[0].returnPolicy ? 'check' : 'close'}}
                      </span>
                  </td>
              </tr>  
                <tr id="OneDayShippingRow">
                    <td>One Day Shipping</td>
                    <td id="OneDayShippingVal">
                      <span class="material-symbols-outlined"
                      [class.shipdone]="shippingInfo1[0].oneDay"
                      [class.shipclose]="!shippingInfo1[0].oneDay">
                  {{ shippingInfo1[0].oneDay ? 'check' : 'close' }}
                </span>
                
                      <!-- <span class="material-symbols-outlined">
                        check
                        </span>
                        <span class="material-symbols-outlined">
                        close
                        </span> -->
                    </td>
                    <!-- <td id="OneDayShippingVal">{{ shippingInfo1[0].oneDay}}</td> -->
                </tr>                       
                <tr id="ReturnsAcceptedRow">
                    <td>Returns Accepted</td>
                    <td id="ReturnsAcceptedVal">
                    <span class="material-symbols-outlined" [class.shipdone]="shippingInfo1[0].returns" [class.shipclose]="!shippingInfo1[0].returns" >
                    {{ shippingInfo1[0].returns ? 'check' : 'close'}}
                    </span>
                  </td>
                </tr>
            </tbody>
        </table>
      </div>
  

      <!-- <div *ngIf="activeTab === 'seller'">
        <table class="table table-striped table-dark">
          <tbody *ngIf="shippingInfo1.length > 0">
            <tr id="StoreNameRow" class="text-center" >
              <td colspan="2" class="uppercase-text">{{ sellerInfo[0].storeName}}</td>
            </tr> 
            <tr id="FeedbackScoreRow">
              <td>Feedback Score</td>
              <td id="FeedbackScoreVal">{{ sellerInfo[0].feedbackScore }}</td>
          </tr> 
            <tr id="PopularityRow">
              <td>Popularity</td>
              <td id="PopularityVal">
                <div class="progress-content" style="position: relative;">
                    <div class="currentValue" style="position: absolute; color: white; line-height: 4; padding-left:6px;">{{ sellerInfo[0].popularity }}%</div>
                    <round-progress [current]="sellerInfo[0].popularity" [max]="100" [color]="'green'" [radius]="25" [stroke]="3"></round-progress>
                </div>
            </td>            
      </tr>

            <tr id="FeedbackRatingStarRow">
              <td>Feedback Rating Star</td>
              <td id="FeedbackRatingStarVal">
                <i *ngIf="sellerInfo[0]?.feedbackScore >= 10000" class="material-icons" [ngStyle]="{'color': getStarColor(sellerInfo[0].feedbackScore)}">stars</i>
                <i *ngIf="sellerInfo[0]?.feedbackScore < 10000" class="material-icons" [ngStyle]="{'color': getStarColor(sellerInfo[0].feedbackScore)}">star_border</i>
              </td>
            </tr>

            <tr id="StoreNameRow">
              <td>Store Name</td>
              <td id="StoreNameVal">{{ sellerInfo[0].storeName}}</td>
            </tr>                       
            <tr id="StoreURLRow">
              <td>Buy Product At</td>
              <td>
                <a [href]="sellerInfo[0].storeURL" target="_blank">Store</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      

      <div *ngIf="activeTab === 'seller'">
        <table class="table table-striped table-dark">
          <tbody *ngIf="shippingInfo1.length > 0">
            <!-- Store Name Row -->
            <tr id="StoreNameRow" class="text-center" *ngIf="sellerInfo[0]?.storeName">
              <td colspan="2" class="uppercase-text">{{ sellerInfo[0].storeName }}</td>
            </tr> 
            <!-- Feedback Score Row -->
            <tr id="FeedbackScoreRow" *ngIf="sellerInfo[0]?.feedbackScore">
              <td>Feedback Score</td>
              <td id="FeedbackScoreVal">{{ sellerInfo[0].feedbackScore }}</td>
            </tr> 
            <!-- Popularity Row -->
            <tr id="PopularityRow" *ngIf="sellerInfo[0]?.popularity || sellerInfo[0]?.popularity === 0">
              <td>Popularity</td>
              <td id="PopularityVal">
                <div class="progress-content" style="position: relative;">
                    <div class="currentValue" style="position: absolute; color: white; line-height: 4; padding-left:6px;">{{ sellerInfo[0].popularity }}%</div>
                    <round-progress [current]="sellerInfo[0].popularity" [max]="100" [color]="'green'" [radius]="25" [stroke]="3"></round-progress>
                </div>
              </td>            
            </tr>
            <!-- Feedback Rating Star Row -->
            <!-- <tr id="FeedbackRatingStarRow" *ngIf="sellerInfo[0]?.feedbackScore || sellerInfo[0]?.feedbackScore === 0">
              <td>Feedback Rating Star</td>
              <td id="FeedbackRatingStarVal">
                <i *ngIf="sellerInfo[0]?.feedbackScore >= 10000" class="material-icons" [ngStyle]="{'color': getStarColor(sellerInfo[0].feedbackScore)}">stars</i>
                <i *ngIf="sellerInfo[0]?.feedbackScore < 10000" class="material-icons" [ngStyle]="{'color': getStarColor(sellerInfo[0].feedbackScore)}">star_border</i>
              </td>
            </tr> -->

            <tr id="feedback_rating_star_row">
              <th>Feedback Rating Star</th>
              <td id="feedback_rating_star">
                  <i class="material-icons" [style.color]="getStarColor(sellerInfo[0].feedbackScore)">
                      stars
                  </i>
              </td>
          </tr>


            <tr id="StoreNameRow" *ngIf="sellerInfo[0].storeName || sellerInfo[0].storeName === 0">
              <td>Store Name</td>
              <td id="StoreNameVal">{{ sellerInfo[0].storeName}}</td>
            </tr>  

            <!-- Store URL Row -->
            <tr id="StoreURLRow" *ngIf="sellerInfo[0]?.storeURL">
              <td>Buy Product At</td>
              <td>
                <a [href]="sellerInfo[0].storeURL" target="_blank">Store</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      


      <!-- Similar Products -->
      <div *ngIf="activeTab === 'similar'">
            <div class="container">
              <div class="row">
                <div class="col d-flex justify-content-start mb-3">
                  <div class="mr-2">
                    <select class="form-control" [(ngModel)]="sortOrder" (change)="sortProducts()">  
                      <option value="default" selected>Default</option>
                      <option value="product_name">Product Name</option>
                      <option value="days_left">Days Left</option>
                      <option value="price">Price</option>
                      <option value="shipping_cost">Shipping Cost</option>
                    </select>
                  </div>
                  <div>
                    <select class="form-control" [(ngModel)]="sortDirection" (change)="sortProducts()" [disabled]="sortOrder === 'default'"> 
                      <option value="ascending" selected>Ascending</option>
                      <option value="descending">Descending</option>
                    </select>
                        
                  </div>
                </div>
              </div>
            </div>
        <div *ngFor="let product of similarProds.slice(0, displayCount); let i = index" class="product-card p-3 mb-3 rounded bg-dark text-white">
          <div class="d-flex justify-content-between align-items-center">
            <!-- Image Container on the left -->
            <div class="flex-shrink-0">
              <img [src]="product.imageURL" target = "_blank" alt="{{ product.prodName }}" class="product-image img-fluid" style="max-width: 100px;">
            </div>
            <!-- Details Container on the right -->
            <div class="product-details">
              <a href="{{ product?.viewItemURL }}" class="font-weight-bold" style="color: #5ea4bf;">
                <p class="mb-1 d-block">{{ product?.prodName }}</p>
              </a> 
              <p class="mb-1" style="color: green;">Price: ${{ product.price }}</p>
              <p class="mb-1" style="color: yellow;">Shipping Cost: {{ product.shippingCost }}</p>
              <p class="mb-0">Days Left: {{ product.daysLeft }}</p>
            </div>
          </div>
        </div>
        
        <div class="button-container">
        <!-- Show more button -->
        <button *ngIf="displayCount < similarProds.length && !showAll" (click)="showMore()" class="centered-button">Show More</button>
        <button *ngIf="showAll" (click)="showLess()" class="centered-button">Show Less</button>
        </div>

      </div>
    </div> 
   

  </div>
</div>
